[submodule "gui-engine/gui"]
	path = gui-engine/gui
	url = https://github.com/quarzasiphix/gui.git
[submodule "discord-engine/base"]
	path = discord-engine/base
	url = https://github.com/quarzasiphix/base.git
